[submodule "vim-vinegar"]
	path = vim/bundle/vim-vinegar
	url = git@github.com:tpope/vim-vinegar
[submodule "vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired
[submodule "vim-tbone"]
	path = vim/bundle/vim-tbone
	url = git@github.com:tpope/vim-tbone
[submodule "vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = git@github.com:tpope/vim-speeddating
[submodule "vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat
[submodule "vim-git"]
	path = vim/bundle/vim-git
	url = git@github.com:tpope/vim-git
[submodule "vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = git@github.com:tpope/vim-eunuch
[submodule "vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise
[submodule "vim-abolish"]
	path = vim/bundle/vim-abolish
	url = git@github.com:tpope/vim-abolish
[submodule "vim-scriptease"]
	path = vim/bundle/vim-scriptease
	url = git@github.com:tpope/vim-scriptease
[submodule "vim-rhubarb"]
	path = vim/bundle/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb
[submodule "fonts/meslo"]
	path = fonts/meslo
	url = git@github.com:nessss/meslo
